POSTGRES_USER=barberia
POSTGRES_PASSWORD=change-me-before-running
CORS_ALLOWED_ORIGINS=http://localhost:5173POSTGRES_USER=barberia_app
POSTGRES_PASSWORD=change-this-locally
CORS_ALLOWED_ORIGINS=http://localhost:5173
